<div class="navbar navbar-inverse navbar-fixed-top">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">管理员系统</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--<li><a>个人信息</a></li>-->
        <li><a routerLink="/admin">管理员</a></li>
        <!--<li><a>会员管理</a></li>-->
        <li><a href="tencent://message/?uin=116938310&Site=www.jukezhongguo.com.cn&Menu=yes">在线客服</a></li>
        <li><a routerLink="/login" (click)="signOut()">退出</a></li>
      </ul>
    </div>
  </div>
</div>
