<app-header></app-header>
<div class="body-content">
  <h2>添加</h2>
  <form [formGroup]="formModel">
    <div class="form-horizontal">
      <h4>Users</h4>
      <hr />
      <div class="form-group">
        <label class="control-label col-md-2">旧密码</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="oldPass"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">新密码</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="newPass"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2"></label>
        <div class="col-md-10">
          <button class="btn" (click)="modify($event)" [disabled]="formModel.invalid">修改</button>
        </div>
      </div>

    </div>
  </form>
  <div>
    <a routerLink="/admin">返回列表</a>
  </div>
  <hr />
</div>
<app-footer></app-footer>
